#Java
*.class

# Package Files #
#*.jar
*.war
*.ear


# Build output directies
/target
*/target
/build
*/build
*/bin

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata

# NetBeans specific files/directories
.nbattrs

target/
devenv
*.log*
*.iml
.idea/
*.versionsBackup
*bin
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
